{% extends "pages/base.html" %}
{% load static %}
{% block title %}Booking {% endblock title %}

{% block content %}
    <link rel="stylesheet" href="{% static "form.css" %}">

    <div class="container">
    <h1>Check your booking</h1>

        <form action="{% url "number_check" %}" method="post">
             {% csrf_token %}

            <input type="tel" placeholder="Phone" name="number">

            <button type="submit">Check booking</button>

        </form>


    </div>


{% endblock content %}