{% extends "pages/base.html" %}
{% load static %}
{% block title %}Booking {% endblock title %}

{% block content %}
    <link rel="stylesheet" href="{% static "form.css" %}">
    <link rel="stylesheet" href="{% static "number_check.css" %}">

    <div class="container">
    {% if error_message %}
    	 <div class="error-container">

        <p>{{ error_message }}</p>

        </div>
    {% endif %}
    <h1>Check your booking</h1>
        <form action="{% url "number_check" %}" method="post">
             {% csrf_token %}

            <input type="tel" placeholder="Phone" name="number">

            <button type="submit">Check booking</button>

        </form>


    </div>


{% endblock content %}