
<header>
  <div class="logo">
        <h1>Barber Booking</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/points/">Our points</a></li>
            <li><a href="{% url 'bookings' %}">Booking</a></li>
            <li><a href="/number-check/">My booking</a></li>
            {% if user.is_authenticated %}
            	
            {% endif %} 
            <li><a href="{% url 'users:navigator' %}"> {{ user.get_full_name}}</a></li>
        </ul>
    </nav>


</header>