{% extends "pages/base.html" %}
{% load static %}
{% block title %}Admin-Add {% endblock title %}

{% block content %}
    <link rel="stylesheet" href="{% static "form.css" %}">
    <div class="container">
  <h1>New admin</h1>
    <div>
        <form action="{% url 'users:admin_create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="patronymic" placeholder=" Patronymic" required>
            <input type="text" name="user-login" placeholder="User login" required>
            <button type="submit">Create admin</button>

        </form>



    </div>
    </div>




{% endblock content %}