{% extends "pages/base.html" %}
{% load static %}
{% block title %}Booking {% endblock title %}

{% block content %}
    <link rel="stylesheet" href="{% static "form.css" %}">
    <div class="container">
  <h1>New barber</h1>
    <div>
        <form action="{% url 'users:barber_create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="number" min="0" max="9" name="exp" placeholder="exp" required>
            <input type="tel" name="phone" placeholder="Number" required>
            <input type="number" name="salary" placeholder="Salary" required>
            <input type="file" name="picture" placeholder="Picture" required>
            <input type="text" name="user-login" placeholder="User login" required>
            <select name="point" id="point_select" required>
                {% for point in points %}
                    <option value="{{ point.id }}">{{ point.address }} </option>

                {% endfor %}

            </select>
            <button type="submit">Create barber</button>

        </form>



    </div>
    </div>




{% endblock content %}